html,
body,
#root,
.App {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  color: #fff;
}
header {
  background: rgb(0, 0, 95);
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
}
header h1 {
  margin: 0 1em;
}
nav {
  margin-right: 3em;
}
main {
  width: 100%;
}
.header-link {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.5em;
  margin: 5em;
}
.cart-widget {
  width: 100%;
  height: calc(100vh - 80px);
  float: right;
  color: #fff;
  background-color: rgb(70, 70, 160);
  text-align: center;
  grid-row-start: 0;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 6;
}
.cart-widget-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.cart-widget-list-item {
  display: flex;
  align-items: center;
  margin: 1em;
  height: 80px; 
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}
.cart-widget-list-item img {
  height: 100%;
}
.cart-widget-list-item h4 {
  width: 70%;
}
.placeholder-img {
  background-color: #000;
  width: 50px;
  height: 50px; 
  margin: 0 .5em;
}
.cart-item-name {
  margin: 0 8em;
}
.shop-container {
  display: flex;
  height: calc(100% - 80px);
}
.shop {
  width: 100%;
  height: 100%;
  background-color: bisque;
  margin: 0;
  color: #000;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 33% 33% 33%;;
}
.shop-card {
  padding: 3em;
  box-sizing: border-box;
}
.shop-card-img {
  height: 80%;
  width: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.shop-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 1.2em;
}
.add-to-cart-btn {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  opacity: 0;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}
.add-to-cart-btn:hover {
  background-color: #000;
  opacity: .6;
}
.product-view {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}