html,
body,
#root,
.App {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}
header {
  background: navy;
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
}
header h1 {
  margin: 0 1em;
}
nav {
  margin-left: auto;
  margin-right: 3em;
}
.cart-link {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.3em;
}
.cart-widget {
  width: 20%;
  height: calc(100% - 80px);
  float: right;
  background-color: aqua;
}